Bonjour,
<br /><br />
La commande MyGuardian
<a href='{{context.url}}'>N°{{context.bookingId}}</a>
a été annulée.
<br />
Voir le détail de la
<a href='{{context.url}}'>commande N°{{context.bookingId}}</a>
sur votre espace commerçant.
<br />
Votre partenaire My Guardian.