Bonjour, <br><br>

Vous recevez ce message car vous avez effectué une demande de réinitialisation du mot de passe depuis votre application My Guardian.
<br><br>

Vous pouvez changer votre mot de passe en cliquant <a href='{{context.url}}'>ici</a> ou en utilisant ce lien: <a
  href='{{context.url}}'>{{context.url}}</a> <br><br>

Si vous n’êtes pas à l’origine de cette demande, veuillez ignorer ce message. <br>
A très vite sur votre application My Guardian.
