Bonjour,
<br /><br />

Merci d’avoir rejoint la communauté des utilisateurs My Guardian.
<br /><br />

Afin de profiter de nos services, veuillez valider votre compte en cliquant
<a href='{{context.url}}'>ici</a>
ou en utilisant ce lien:
<a href='{{context.url}}'>{{context.url}}</a>
<br /><br />

A très vite sur votre application My Guardian.

<table
  id='zs-output-sig'
  border='0'
  cellpadding='0'
  cellspacing='0'
  style='
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0px;
        font-size: 1px;
        padding: 0px;
        border-spacing: 0px;
        margin: 0px;
        border-collapse: collapse;
        width: 650px;
      '
>
  <tbody>
    <tr>
      <td style='padding: 0'>
        <table
          border='0'
          cellpadding='0'
          cellspacing='0'
          style='
                font-family: Arial, Helvetica, sans-serif;
                line-height: 0px;
                font-size: 1px;
                padding: 0px;
                border-spacing: 0px;
                margin: 0px;
                border-collapse: collapse;
              '
        >
          <tbody>
            <tr>
              <td width='246' style='padding: 0'>
                <table
                  border='0'
                  cellpadding='0'
                  cellspacing='0'
                  style='
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: 0px;
                        font-size: 1px;
                        padding: 0px;
                        border-spacing: 0px;
                        margin: 0px;
                        border-collapse: collapse;
                      '
                >
                  <tbody>
                    <tr
                      data-dashlane-label='true'
                      data-dashlane-rid='4b80f1e83577c38e'
                      data-form-type=''
                    >
                      <td
                        style='
                              border-collapse: collapse;
                              line-height: 0px;
                              padding: 0;
                            '
                      >
                        <img
                          height='203'
                          width='246'
                          alt=''
                          border='0'
                          src='https://static.wixstatic.com/media/14b513_c7deddbb81df4649b907270e3860ef7d~mv2.png/v1/fill/w_246,h_203,al_c,q_85,usm_0.66_1.00_0.01/Plan%20de%20travail%201%20copie%205%408xjhj.webp'
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td
                width='15'
                style='
                      border-collapse: collapse;
                      padding-right: 15px;
                      width: 15px;
                    '
                data-dashlane-label='true'
                data-dashlane-rid='faef9203bd4f4a7e'
                data-form-type=''
              ></td>
              <td
                width='6'
                style='
                      border-collapse: collapse;
                      background-color: #ff7300;
                      width: 6px;
                      vertical-align: super;
                      padding: 0;
                    '
                data-dashlane-label='true'
                data-dashlane-rid='fc208254e60bb2d3'
                data-form-type=''
              ></td>
              <td
                width='15'
                style='
                      border-collapse: collapse;
                      padding-right: 15px;
                      width: 15px;
                    '
                data-dashlane-label='true'
                data-dashlane-rid='13f9e78d8e443e7a'
                data-form-type=''
              ></td>
              <td style='padding: 0'>
                <table
                  border='0'
                  cellpadding='0'
                  cellspacing='0'
                  style='
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: 0px;
                        font-size: 1px;
                        padding: 0px;
                        border-spacing: 0px;
                        margin: 0px;
                        border-collapse: collapse;
                      '
                >
                  <tbody>
                    <tr>
                      <td style='padding: 0'>
                        <table
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          style='
                                font-family: Arial, Helvetica, sans-serif;
                                line-height: 0px;
                                font-size: 1px;
                                padding: 0px;
                                border-spacing: 0px;
                                margin: 0px;
                                border-collapse: collapse;
                              '
                        >
                          <tbody>
                            <tr>
                              <td
                                style='padding: 0'
                                data-dashlane-label='true'
                                data-dashlane-rid='9c274a8cc3adb63c'
                                data-form-type=''
                              >
                                <table
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='
                                        font-family: Arial, Helvetica,
                                          sans-serif;
                                        line-height: 0px;
                                        font-size: 1px;
                                        padding: 0px;
                                        border-spacing: 0px;
                                        margin: 0px;
                                        border-collapse: collapse;
                                      '
                                >
                                  <tbody>
                                    <tr
                                      data-dashlane-label='true'
                                      data-dashlane-rid='479dc7a0fb59a4d8'
                                      data-form-type=''
                                    >
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              font-family: Arial, Helvetica,
                                                sans-serif;
                                              font-size: 22px;
                                              font-style: normal;
                                              line-height: 24px;
                                              font-weight: 700;
                                              padding: 0;
                                            '
                                      >
                                        <span
                                          style='
                                                font-family: Arial, Helvetica,
                                                  sans-serif;
                                                font-size: 22px;
                                                font-style: normal;
                                                line-height: 24px;
                                                font-weight: 700;
                                                color: #000001;
                                                display: inline;
                                              '
                                        >MY GUARDIAN</span>
                                      </td>
                                    </tr>
                                    <tr
                                      data-dashlane-label='true'
                                      data-dashlane-rid='2264c2c6d034ece8'
                                      data-form-type=''
                                    >
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              font-family: Arial, Helvetica,
                                                sans-serif;
                                              font-size: 14px;
                                              font-style: normal;
                                              line-height: 16px;
                                              font-weight: 700;
                                              padding: 0;
                                            '
                                      >
                                        <span
                                          style='
                                                font-family: Arial, Helvetica,
                                                  sans-serif;
                                                font-size: 14px;
                                                font-style: normal;
                                                line-height: 16px;
                                                font-weight: 700;
                                                color: #000001;
                                                display: inline;
                                              '
                                        >Consigne pour motards</span>
                                      </td>
                                    </tr>
                                    <tr
                                      data-dashlane-label='true'
                                      data-dashlane-rid='bd37011b1719bec5'
                                      data-form-type=''
                                    >
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              padding-bottom: 15px;
                                              height: 15px;
                                            '
                                      ></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style='padding: 0'>
                        <table
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          style='
                                font-family: Arial, Helvetica, sans-serif;
                                line-height: 0px;
                                font-size: 1px;
                                padding: 0px;
                                border-spacing: 0px;
                                margin: 0px;
                                border-collapse: collapse;
                              '
                        >
                          <tbody>
                            <tr>
                              <td
                                style='padding: 0'
                                data-dashlane-label='true'
                                data-dashlane-rid='8019014f6b0156bc'
                                data-form-type=''
                              >
                                <table
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='
                                        font-family: Arial, Helvetica,
                                          sans-serif;
                                        line-height: 0px;
                                        font-size: 1px;
                                        padding: 0px;
                                        border-spacing: 0px;
                                        margin: 0px;
                                        border-collapse: collapse;
                                      '
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        style='padding: 0'
                                        data-dashlane-label='true'
                                        data-dashlane-rid='3a480b7b25afd87d'
                                        data-form-type=''
                                      >
                                        <a
                                          style='
                                                font-size: 0px;
                                                line-height: 0px;
                                              '
                                          target='_blank'
                                          rel='nofollow'
                                          href='https://www.facebook.com/MyGuardianFrance'
                                        >
                                          <img
                                            height='24'
                                            width='24'
                                            alt='facebook'
                                            border='0'
                                            src='https://r8g4u6u5.stackpathcdn.com/assets/social/24/333333/04facebook.gif'
                                          />
                                        </a>
                                      </td>
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              padding-right: 7px;
                                              width: 7px;
                                            '
                                        data-dashlane-label='true'
                                        data-dashlane-rid='aa2ba10e5713b4b8'
                                        data-form-type=''
                                      ></td>
                                      <td
                                        style='padding: 0'
                                        data-dashlane-label='true'
                                        data-dashlane-rid='518ffdc537862be2'
                                        data-form-type=''
                                      >
                                        <a
                                          style='
                                                font-size: 0px;
                                                line-height: 0px;
                                              '
                                          target='_blank'
                                          rel='nofollow'
                                          href='https://www.instagram.com/myguardian_france/?hl=fr'
                                        >
                                          <img
                                            height='24'
                                            width='24'
                                            alt='instagram'
                                            border='0'
                                            src='https://r8g4u6u5.stackpathcdn.com/assets/social/24/333333/04instagram.gif'
                                          />
                                        </a>
                                      </td>
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              padding-right: 7px;
                                              width: 7px;
                                            '
                                        data-dashlane-label='true'
                                        data-dashlane-rid='e293f1e419d287b2'
                                        data-form-type=''
                                      ></td>
                                      <td
                                        style='padding: 0'
                                        data-dashlane-label='true'
                                        data-dashlane-rid='ecaa7118c5db366e'
                                        data-form-type=''
                                      >
                                        <a
                                          style='
                                                font-size: 0px;
                                                line-height: 0px;
                                              '
                                          target='_blank'
                                          rel='nofollow'
                                          href='https://www.myguardian.fr/'
                                        >
                                          <img
                                            height='24'
                                            width='24'
                                            alt='website'
                                            border='0'
                                            src='https://r8g4u6u5.stackpathcdn.com/assets/social/24/333333/04website.gif'
                                          />
                                        </a>
                                      </td>
                                      <td
                                        style='
                                              border-collapse: collapse;
                                              padding-right: 7px;
                                              width: 7px;
                                            '
                                        data-dashlane-label='true'
                                        data-dashlane-rid='63a797d5f992cd8a'
                                        data-form-type=''
                                      ></td>
                                      <td style='padding: 0'></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        style='border-collapse: collapse; padding-bottom: 8px; height: 8px'
      ></td>
    </tr>
  </tbody>
</table>