Bonjour, <br><br>

Merci d’avoir rejoint la communauté des utilisateurs My Guardian. <br><br>

Afin de profiter de nos services, veuillez valider votre compte en cliquant <a
  href='{{context.url}}'>ici</a> ou en utilisant ce lien: <a href='{{context.url}}'>{{context.url}}</a> <br><br>

A très vite sur votre application My Guardian.
