Bonjour,
<br /><br />

Vous avez une nouvelle commande MyGuardian pour un dépôt d’équipement OFFRE
SOLO.
<br />
Voir le détail de la
<a href='{{context.url}}'>commande N°{{context.bookingId}}</a>
sur votre espace commerçant.
<br />
Votre partenaire My Guardian.